body {
  font-family: "PT Sans", sans-serif;
}
.wrapper {
  text-align: center;
}
.container {
  display: inline-block;
  width: 900px;
  height: 600px;
  background: white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.main-width {
  width: 880px;
  padding: 10px;
}
.accent-bg {
  background: lightgray;
}
header button {
  border: 0;
  background-color: lightgray;
}
.position {
  width: 250px;
  display: inline-block;
}
#world {
  background-position: center;
}
#output {
  display: block;
  text-align: left;
}
#responses button {
  display: block;
  background-color: lightgray;
  border: 0;
  padding: 10px;
  margin: 0 auto;
}
#responses button:hover {
  background-color: white;
  border: 1px solid lightgray;
  padding: 8px;
}
.to-me::before {
  content: "→ ";
}
.to-me span {
  color: blue;
  font-weight: bold;
}
.to-me span::after {
  content: ": "
}
.from-me::before {
  content: "← ";
}
